section.contact{
    background: $bgwhite;
    .info{
        color:white;
        background-color:$rouge;
        border-radius:15px;
        hr{
            background-color: #fff;
        }
    }
}