header{
    background: rgba(0,0,0,0.7);
    height: auto;
    nav.navbar{
        z-index:3;
        position: absolute;
        width: 100%; 
        height: auto;   
        .navbar-nav{
            border-top:1px solid #ddd;
            border-bottom:1px solid #ddd;
            font-size:20px;
            li{
                padding:3px 25px 3px 20px;
                text-transform: uppercase;
            }
            li.nav-item:hover{
                background-color: $rouge;
            }
            .lien{
                color:white;
            }
        }
    }
    .bouton1{
        background-color: #e4e4e4;
        color:black;
        border-radius:50px;
        margin-right: 10px;
        padding:15px 30px;
    }
    .bouton2{
        background-color:$rouge;
        color: white;
        border-radius:50px;
        margin-left:10px;
        padding:15px 30px;
    }

    div.intro{
        position: absolute;
        font-size: 25px;
        z-index: 2;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        h1{
            width: 70%;
            font-size:5vw;
            margin:0 auto;
            padding-top:75px;   
            color:white;
        }
        button{
            text-transform: uppercase;
        }
    }
        div.carousel{
            z-index:-1;
            height: 100vh   ;
        }
        ol.carousel-indicators{
            li{ 
                border-radius:50%;
                background-color:white;
                width:15px;
                height:15px;
                div{
                    border-radius:50%;
                    background-color: white;
                    border: 2px solid black;
                    border-radius:50%;
                    width: 10px;
                    height: 10px;
                    margin: 2px auto;                    
                }
            }
        }
}
