section.menu{
    background: url('../images/main_bg.jpg');
    
    aside{
        border-right: 1px solid gray;
        width: auto;
        ul{
            list-style: none;            
        }
    }
}