section.testimonials{
    background: url('../images/testimonials_background.jpg');
    color:white;
    .text-contour{
        border: 2px solid white;
        border-radius: 15px;    
        
    }
}