// Chemin pour les icones
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
.bouffeGris{color:gray;}
.container-fluid{width: 80%;}
.our{
    color:red; 
    text-transform: uppercase;
}
.cafe{
    border-radius: 50%; 
    border:2px solid gray;
    width: 100px;
    height: 100px;
}
h2{

}