// Chemin pour les icones
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
// Variables
$bgwhite: url('../images/main_bg.jpg');
$rouge:#c43540;
$white:white;
$gras:bold;
//Propriété css global
.container-fluid{width: 80%;}
.our{
    color:$rouge; 
    text-transform: uppercase;
}
.imgBoule{
    border-radius: 50%; 
    border:2px solid gray;
    width: 100px;
    height: 100px;
}
.gras{font-weight:bold;}
@font-face {
    font-family: "Courgette";
    src: url("../font/Courgette-Regular.ttf") format("TrueType");
    font-weight:normal;
    font-style:normal;
}
h2{
    font-family: Courgette,sans-serif;
}